#sobre, 
#competencias, 
#portfolio, 
#contato {
    padding: 5rem 0;
}
.aboutImage {
    width: 80%;
    border-radius: 50%;
}
.bgimage {
    height: 100vh;
    position: relative;
    background: url(Images/brickWall.png);
    background-size: cover;
}
.card {
    text-align: center;
    padding: 1px 1px 10px 1px;    
}
.cardBody{
    padding: 3px; 
    border: #502e13 2pix;
}
.cardTitle {
    text-align: center;
}
   
.cardText {
    text-align: center;  
}
.cardText2 {
    text-align: left;
    padding-left: 3px;
}
.cardText3 {
    text-align: justify;
    padding-left: 150px;
    padding-top: 9px;
}
#competencias {
    border-bottom: #502e13 2pix solid;
    border-top: #502e13 2pix solid;
} 
#contato{
    background-color: aliceblue;
}
footer{ 
    background-color: #644529;
    margin-bottom: 0px;

}
.footerDev {
    background-color: #4e3016;
    font-size: x-small;
    line-height: 3px;
    margin-bottom: 0;
} 
.footerDev p {
    text-align: center;
    color: white; 
}
h2 {
    text-shadow: 4px 4px 6px #502e13;
    font-size: larger;
}
.heroTitle {
    font-size: 4.5rem;
}
.heroDesc {
    font-size: 2rem;
}
.heroText {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    color:white;
    text-shadow: 4px 4px 6px #502e13;
}
.linkText{
    color: white;
}
.logo {
    width: 4%;
    border-radius: 50%;
}
.nav-item {
    font-size: larger;
}
.navbar {
    background-color:#74452a;
}    
.navbar a{
    color: #b69d91;
    padding: 0,5rem;
}
.navbar a:hover{
    color: rgb(255, 153, 0);
}
.navbar:hover {
    background-color: rgb(95, 59, 17);
    border-radius: 4px;
}
.servicesIcon {
    font-size: 1.5rem;
    text-align: left;
    width: 100%;
    color: rgb(131, 88, 47);
}
.servicesIcon2 {
    font-size: 1.6rem;
    text-align: center;
    width: 100%;
    color: rgb(131, 88, 47);
}
.servicesIcon2:hover {
    font-size: 2rem;
    color: rgb(95, 64, 34);
}
.servicesIcon3 {
    font-size: 1.6rem;
    text-align: left;
    width: 100%;
    color: rgb(131, 88, 47);
}
.servicesIcon3:hover {
    font-size: 2rem;
    text-align: left;
    width: 100%;
    color: rgb(88, 61, 35);
}
.servicesIcon4 {
    text-align: center;
    width: 100%;
    font-size: 1.6rem;
    color: #a8694b;    
}
.servicesIcon4:hover {
    width: 100%;
    font-size: 2rem;
    color: #cabcb6;    ;
}
.servicesIconOrder {
    text-align: center;
    border-radius: 50%;
   }
.servicesText {
    height: 280px;
    cursor: pointer;
    padding: 0 1rem;
    text-align: left ;
    border-radius: 4px ;
}
.servicesText:hover {
    border:#502e13 2px solid;
    box-shadow: 4px 6px #a08b7a;
}

#sobre {
    background-color: rgb(228, 227, 214);
    text-indent: 40px;
    text-align: justify;
    font-size: large;
}
.textContact{
    color: white;
    font-size: small;
}